html{
  font-size: 24px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.QrContainer{
  position: absolute;
  bottom: 1.5rem;
  left: 2.5rem;
}
.QrCode{
  padding: 5px;
  border: 2px solid #5C7AFF;
  border-radius: 15px;
  width: 150px;
}

.QrPhrase{
  margin-top: 1px;
  font-size: 25px;
  color: #5C7AFF;
}

.Title{
  position: absolute;

  font-size: 0.85em;

  top: 2.5rem;
  left: 25%;

  color: #5C7AFF;
}

.Sponsor{
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;

  font-size: 1.5em;
  font-weight: 700;

  color: #5C7AFF;

  bottom: 2.5rem;
  right: 2.5rem;
}

#logoImg{
  width: 7.5rem;
}